.App {
  color: white;
}

h2 {
  text-align: center;
}

#signin,
#signup,
#forgotpassword,
#resetpassword {
  display: inline-block;
  border: 2px solid white;
  border-radius: 0.35rem;
  margin-top: 6rem;
  padding: 2rem 2rem 1rem 2rem;
  width: 320px;
}

.btn.btn-light {
  color: white;
  background-color: #00a2ff;
  border: 1px solid white;
}

.link {
  color: white;
}

.link:hover {
  color: black;
}

#logoutbtn {
  margin: 3% 47%;
}

@media (max-width: 480px) {
  #logoutbtn {
    margin: 3% 40%;
  }
}
